{% extends '../../frontend/templates/base2.html' %}
{% block content %}
     <script src="/static/js/eliminarLote.js"></script>
<div class="PaddingContent">
    <h3 class="tituloventa">Eliminar Lote:</h3>
    <br/>
    <h4  id="titulohide">Para Eliminar un lote seleccione el lote, confirme los datos y haga click en eliminar: </h4>
    <br/>

         <div hidden class="hideonload succesmessage">
            <div class="col-md-6 alert alert-success fade in ">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>Completado!</strong> El lote fue creado correctamente.<br/> <br/>
                <a href=""  class=" btn btn-success" role="button" >Crear Nuevo</a>
            </div>
        </div>
        <div hidden class="hideonload failmessage">
            <div class="col-md-6 alert alert-danger fade in ">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>Error en formulario!</strong> Corrija los errores mostrados.
            </div>
        </div>

       <div>
        <form  class="form-horizontal col-md-9" action="" method="post">
        {% csrf_token %}

        <div class="form-group">

            <div class="form-group">
                <div class="col-sm-12 errorlist" id="tipoerror"> </div>
                <label class="col-sm-2" for="tipo">Tipo:</label>
                <div class="col-sm-6">
                    <select class="form-control input-lg" name="tipo" id="tipo">
                    <option value="1">Cerdo</option>
                    <option value="2">Res</option>
                    <option disabled value="3">Pollo</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12 errorlist" id="lotenumerror"> </div>
                <label class="col-sm-2" for="numlote">Número de lote:</label>
                <div class="col-sm-6">
                    <select class="form-control input-lg" name="numlote" id="numlote">

                    </select>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-12 errorlist" id="canaleslisterror"> </div>
                <label class="col-sm-2" for="canaleslist">Canales:</label>
                <div class="col-sm-6">
                    <div id="canaleslist">

                        <div id="msgInicial">
                            <p>
                                <strong> Seleccione un lote de la lista de arriba.</strong>
                            </p>
                        </div>
                        <div hidden id="msgNohayCanales">
                            <p>
                                <strong> No hay lotes del tipo de carne selecionada que no se hayan deshuesado ya.</strong>
                            </p>
                        </div>
                        <div id="tablaListaCanales">

                            <table class="table table-bordered table-hover" data-toggle="table" id="tablaCanales" data-url="" data-cache="false" data-height="299" style="font-size: 15px">
                                <thead>
                                    <tr class="success">
                                        <th data-field="num">#</th>
                                        <th data-field="date">Fecha</th>
                                        <th data-field="date">C/M</th>
                                        <th data-field="fierro">Fierro</th>
                                        <th data-field="weight">Peso Kg</th>

                                    </tr>

                                </thead>
                                <tbody>

                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
            </div>

            <div hidden class=" cantcanales form-group">
                <div class="col-sm-12 errorlist" id="cantcanaleserror"> </div>
                <label class="col-sm-2" for="cantcanales">Número canales:</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control input-lg" id="cantcanales">
                </div>
            </div>

            <div hidden class="pesototal form-group">
                <div class="col-sm-12 errorlist" id="pesototalerror"> </div>
                <label class="col-sm-2" for="pesototal">Peso total (Kg):</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control input-lg" id="pesototal"value="0">
                </div>
            </div>

            <br/>
            <div class="col-sm-2"></div>
            <div hidden class=" recargar col-sm-4">
                <input class=" btn btn-success  form-control" type="submit" value="Recargar" id="btnRecargar" />
            </div>
            <div hidden class=" confirmar col-sm-4">
                <input class=" btn btn-success  form-control" type="submit" value="Confirmar" id="btnSubmit" />
            </div>

            <div hidden class="editar col-sm-12"></div>
            <div hidden class="editar col-sm-2"></div>
            <div hidden class="editar col-sm-4">
                <input  class=" btn btn-success  form-control" type="submit" value="Editar Datos" id="btnEditar" />
            </div>

            <div hidden class="submit2 col-sm-12"></div>
            <div hidden class="submit2 col-sm-2"></div>
            <div hidden class="submit2 col-sm-4">
                <br/>
                <input class=" btn btn-danger  form-control" type="submit" value="Eliminar" id="btnSubmit2" />
            </div>
            
        </div>
        </form>

    </div>

</div>

{% endblock %}