{% extends 'base2.html' %}
{% block content %}

    <!-- Custom CSS -->
    <link href="/static/landing/css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/landing/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
     <!-- Custom JS -->
    <script src="/static/js/home.js"></script>


<div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Bienvenido</h1>
                        <h3>Elija Una acción para iniciar</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="/addcanal/" class="btn btn-default btn-lg WidthHome"> <span class="network-name">Crear Canal</span></a>
                            </li>
                            <li>
                                <a href="/addlote/" class="btn btn-default btn-lg WidthHome"> <span class="network-name">Crear Lote</span></a>
                            </li>
                            <li>
                                <a href="adddeshuese/" class="btn btn-default btn-lg WidthHome"> <span class="network-name">Deshuese</span></a>
                            </li>
                        </ul>

                        <ul class="list-inline intro-social-buttons" style="margin-top: 20px" id="oculto">
                            <li>
                                <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg WidthHome"> <span class="network-name">TEST</span></a>
                            </li>
                            <li>
                                <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg WidthHome"> <span class="network-name">TEST</span></a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-default btn-lg WidthHome "id="btn_reportes"><span class="network-name">TEST</span></a>
                            </li>
                        </ul>

                        <ul class="list-inline intro-social-buttons" style="margin-top: 20px">
                            <li>
                                <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg WidthHome"> <span class="network-name">Trazabilidad</span></a>
                            </li>
                            <li>
                                <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg WidthHome"> <span class="network-name">Ventas</span></a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-default btn-lg WidthHome "id="btn_reportes"><span class="network-name">Reportes</span></a>
                            </li>
                        </ul>




                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->
{% endblock %}