{% extends '../../frontend/templates/base2.html' %}
{% load widget_tweaks %}
{% block content %}
    <script src="/static/js/gastos.js"></script>
<div class="PaddingContent">
    <h3>Crear Gasto:</h3>
        <br/>
        <h4>Para Crear Un gasto complete correctamente los siguientes espacios:</h4>
        <br/>
    <div >

        <form class="form-horizontal col-sm-9 " action="" method="post">


        <div class="form-group">
            {% csrf_token %}

            <div class="form-group">
                  <div >
                      {{ form.date.errors }}
                  </div>
                 <label class="col-sm-2 datepicker" for="id_date">Fecha:</label>
                 <div class="col-sm-6">

                     {{ form.date| attr:"type:date"|add_class:"form-control input-lg date"| add_error_class:" errorlist2"}}
                 </div>
             </div>

             <div class="form-group">

                {{ form.amount.errors }}

                <label class="col-sm-2" for="id_tipo">Monto ₡:</label>

                 <div class="col-sm-6">
                      {{ form.amount | add_class:" form-control input-lg "| add_error_class:" errorlist2" }}
                 </div>
            </div >


            <div class="form-group">
                 {{ form.tipo.errors  }}
                 <label class="col-sm-2" for="id_consecutive">Tipo:</label>
                 <div class="col-sm-6 ">
                      {{ form.tipo |add_class:"form-control input-lg" | add_error_class:" errorlist2"}}
                 </div>
             </div>

            <div class="form-group">
                 {{ form.factura.errors }}
                 <label class="col-sm-2" for="id_weight">Factura #:</label>
                 <div class="col-sm-6">
                      {{ form.factura | add_class:" form-control input-lg"| add_error_class:" errorlist2"}}
                 </div>
            </div>

            <div class="form-group">
                  {{ form.description.errors }}
                 <label class="col-sm-2" for="id_qualification">Descripción:</label>
                 <div class="col-sm-6">
                      {{ form.description | add_class:" form-control input-lg"| add_error_class:" errorlist2" }}
                 </div>
            </div>


            <br/>
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <input class=" btn btn-primary  form-control" type="submit" value="Crear" />
            </div>

        </div>
        </form>

    </div>
</div>
{% endblock %}