{% extends 'base2.html' %}
{% block content %}
     <script src="/static/js/deshuese.js"></script>
<div class="PaddingContent">
    <h3>Deshuese:</h3>
    <br/>
    <h4 id="titulohide">Por favor complete los siguientes espacios: </h4>
    <br/>

         <div class="hideonload succesmessage">
            <div class="col-sm-11 alert alert-success fade in ">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>Completado!</strong> El deshuese fue registrado correctamente.<br/> <br/>
                <a href=""  class=" btn btn-success" role="button" >Crear Nuevo</a>
            </div>
        </div>
        <div class="hideonload failmessage">
            <div class="col-sm-6 alert alert-danger fade in ">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>Error en formulario!</strong> Corrija los errores mostrados.
            </div>
        </div>

       <div class="container-fluid">
        <form  class="form-horizontal col-sm-11" action="" method="post">
        {% csrf_token %}

        <div class="form-group">

            <div class="form-group">
                <label class="col-sm-1" for="tipo">Tipo:</label>
                <div class="col-sm-2">
                    <select class="form-control input-lg" name="tipo" id="tipo">
                    <option value="Carne de cerdo">Cerdo</option>
                    <option value="Carne de res">Res</option>
                    <option disabled value="Pollo">Pollo</option>
                    </select>
               </div>
                <label class="col-sm-1" for="lote">Lote:</label>
                <div class="col-sm-4">
                    <select class="form-control input-lg" name="lote" id="lote">

                        {% if lotes.count == 0 %}
                            <option value="vacio">No hay elementos</option>

                        {% endif %}
                    </select>
               </div>
             <div class=" col-sm-1">
                    <button type="button" id="Btnlote" class="btn btn-success pull-right"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                    <button type="button" id="Btnquitlote" class="btn btn-danger pull-right"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
                </div>
            </div>
             <div class="form-group">
                 <label class="col-sm-1" for="codigo">Código:</label>
                <div class="col-sm-2 ">
                    <input type="number" class="form-control input-lg" id="codigo">

                </div>

                <label class="col-sm-1" for="tipo">Corte:</label>
                <div class="col-sm-5">
                    <select class="form-control input-lg" name="corte" id="corte">

                    </select>
               </div>
                <label class="col-sm-1" for="peso">Peso Kg:</label>
                <div class="col-sm-2">
                    <input type="number" class="form-control input-lg" id="peso">
                </div>
             </div>

         <div class="form-group col-sm-12">
             <div class="pull-right">

                 <button  type="button" class=" btn btn-success  form-control marginBtnAdd" id="BtnAdd" style="width: 145px">Agregar a la lista</button>
             </div>
        </div>

        </div>
        </form>

        <form class="col-sm-8" action="">
         <div class=" form-group col-sm-12 ">
            <table class="table table-bordered table-hover" data-toggle="table" id="tabla" data-url="" data-cache="false" data-height="299">
                <thead>
                    <tr class="success">
                        <th><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></th>
                        <th data-field="id">Corte</th>
                        <th data-field="name">Peso en Kg</th>
                    </tr>

                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
           </form>
           <form class="col-sm-4 form-horizontal" action="">

               <div class="form-group">
                   <div class="col-sm-1"></div>
                   <div class="col-sm-11">
                        <label for="pesolote">Peso del lote Kg:</label>
                        <div>
                            <input type="number" class="form-control input-lg" id="pesolote">
                        </div>
                   </div>
               </div>
               <div class="form-group">
                   <div class="col-sm-1"></div>
                   <div class="col-sm-11">
                        <label for="pesodesh">Peso del deshuese Kg:</label>
                        <div>
                            <input type="number" class="form-control input-lg" id="pesodesh">
                        </div>
                   </div>
               </div>
               <div class="form-group">
                   <div class="col-sm-1"></div>
                   <div class="col-sm-11">
                        <label for="mermakg">Merma en Kg:</label>
                        <div>
                            <input type="text" class="form-control input-lg" id="mermakg">
                        </div>
                   </div>
               </div>
               <div class="form-group">
                   <div class="col-sm-1"></div>
                   <div class="col-sm-11">
                        <label for="mermaporc">Merma en %:</label>
                        <div>
                            <input type="text" class="form-control input-lg" id="mermaporc">
                        </div>
                   </div>
               </div>
              <div class="form-group col-sm-12">
                <div class=" pull-right">
                    <button  type="button" class=" btn btn-success  form-control marginBtnAdd2" id="BtnConfirmar" style="width: 160px">Confirmar Datos</button>
                    <button  type="button" class=" btn btn-danger  form-control marginBtnAdd2" id="BtnNoConfirmar" style="width: 160px">Editar Datos</button>
                </div>
             </div>

               <div class="form-group col-sm-12">
                    <div class=" pull-right">

                        <button  type="button" class=" btn btn-success  form-control marginBtnAdd2" id="BtnCrear" style="width: 160px">Registar deshuese</button>
                    </div>

               </div>
           </form>

           </div>

       </div>

    </div>

</div>

{% endblock %}