.errorlist {
  color: red;
}
.errorlist2 {
  border-color: red;
}
.tituloventa{
    font-size: 25px;
    color: #9d201c;

}
.tituloventa2{
    font-size: 20px;
    color: #9d201c;

}
.tituloventa3{
    font-size: 20px;
    color: #9d201c;
    font-family: sans-serif;

}

.PaddingContent{

    padding: 30px 30px;
}
.WidthHome{

    width: 200px;
}
.margintop10px{

    margin-top: 10px;
}

.marginTop15px2{

      margin-top:15px;
   }

.sidePanelData{

    font-size: 20px ;
    color: #e38e09;
    font-family: sans-serif
}
.sidePanelData2{


    font-size: 30px ;
    color: #e38e09;
    font-family: sans-serif
}

.totalesdata{

    font-size: 30px ;
    color: #e38e09;
    font-family: sans-serif
}
.totalesdata2{


    font-size: 40px ;
    color: #e38e09;
    font-family: sans-serif
}

.totalesdata3{

    font-size: 17px ;
    color: #000000;
    font-family: sans-serif
}

.btnanchoinv{
    width: 65%;
    margin-left: 17.5%;
    margin-right: 17.5%;

}

@media (min-width: 768px) {
   .errorlist {
       margin-left: 17%;
       color: red;
   }

   .marginBtnAdd{
       margin-left:22%;
   }
   .marginTop15px{

      margin-top:15px;
   }
   .marginTop15px2{

      margin-top:0;
   }
}

@media (min-width: 1145px) {
   .errorlist {
       margin-left: 17%;
       color: red;
   }

   .marginBtnAdd2{
       margin-left:18%;
   }
}