{% extends '../../frontend/templates/base2.html' %}
{% load widget_tweaks %}
{% block content %}
    <script src="/static/js/canales.js"></script>
<div class="PaddingContent">
    <h3>Crear Canal:</h3>
        <br/>
        <h4>Para Crear Un canal complete correctamente los siguientes espacios:</h4>
        <br/>
    <div >

        <form class="form-horizontal col-sm-9 " action="" method="post">


        <div class="form-group">
            {% csrf_token %}

            <div class="form-group">
                  <div >
                      {{ form.date.errors }}
                  </div>
                 <label class="col-sm-2 datepicker" for="id_date">Fecha:</label>
                 <div class="col-sm-6">

                     {{ form.date| attr:"type:date"|add_class:"form-control input-lg date"| add_error_class:" errorlist2"}}
                 </div>
             </div>

             <div class="form-group">

                {{ form.tipo.errors }}

                <label class="col-sm-2" for="id_tipo">Tipo:</label>

                 <div class="col-sm-6">
                      {{ form.tipo | add_class:" form-control input-lg tipocanal"| add_error_class:" errorlist2" }}
                 </div>
            </div >


            <div class="form-group">
                 {{ form.consecutive.errors  }}
                 <label class="col-sm-2" for="id_consecutive">Consecutivo Matadero:</label>
                 <div class="col-sm-6 ">
                      {{ form.consecutive |add_class:"form-control input-lg" | add_error_class:" errorlist2"}}
                 </div>
             </div>

            <div class="form-group">
                 {{ form.weight.errors }}
                 <label class="col-sm-2" for="id_weight">Peso (Kg):</label>
                 <div class="col-sm-6">
                      {{ form.weight | add_class:" form-control input-lg"| add_error_class:" errorlist2"}}
                 </div>
            </div>

            <div class="form-group">
                  {{ form.qualification.errors }}
                 <label class="col-sm-2" for="id_qualification">Calificación:</label>
                 <div class="col-sm-6">
                      {{ form.qualification | add_class:" form-control input-lg"| add_error_class:" errorlist2" }}
                 </div>
            </div>

            <div class="form-group">

                {{ form.fierro.errors }}

                <label class="col-sm-2" for="id_fierro">Fierro:</label>

                 <div class="col-sm-6">
                      {{ form.fierro | add_class:" form-control input-lg"| add_error_class:" errorlist2" }}
                 </div>
            </div >



            <br/>
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <input class=" btn btn-primary  form-control" type="submit" value="Crear" />
            </div>


        </div>
        </form>

    </div>
</div>
{% endblock %}