<!DOCTYPE html>
<html>
<head lang="es">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Avanzando Juntos</title>
<!--
    <link rel="stylesheet" href="/Volumes/DATOS/Avanzando_Juntos/ControlPlanta/ControlPlanta/static/css/normalize.css">
    <link rel="stylesheet" href="/Volumes/DATOS/Avanzando_Juntos/ControlPlanta/ControlPlanta/static/bootstrap/css/bootstrap.css"/>

    <script src="/Volumes/DATOS/Avanzando_Juntos/ControlPlanta/ControlPlanta/static/js/jquery-2.1.4.min.js"></script>
    <script src="/Volumes/DATOS/Avanzando_Juntos/ControlPlanta/ControlPlanta/static/bootstrap/js/bootstrap.min.js"></script>
//-->

    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" media="print" href="/static/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/emanuel.css"/>



    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>

    <link rel="stylesheet" href="/static/alertifyjs/css/alertify.css"/>
    <link rel="stylesheet" href="/static/alertifyjs/css/themes/semanticcopy.min.css"/>
    <link rel="stylesheet" href="/static/alertifyjs/css/themes/semantic.min.css"/>
    <script type="text/javascript" src="/static/alertifyjs/alertify.js"></script>

  {% comment %}  <script type="text/javascript">
    //override defaults
        alertify.defaults.transition = "slide";
        alertify.defaults.theme.ok = "btn btn-primary";
        alertify.defaults.theme.cancel = "btn btn-danger";
        alertify.defaults.theme.input = "form-control";
    </script>{% endcomment %}
    <script type="text/javascript">
    //override defaults
    alertify.defaults.transition = "zoom";
    alertify.defaults.theme.ok = "ui positive button";
    alertify.defaults.theme.cancel = "ui black button";
    </script>



</head>
<body>
<header>

    <nav class="navbar navbar-inverse" style="margin-bottom: 0px">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Menu</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand visible-xs" href="">MENU</a>
                  </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/">Inicio <span class="sr-only">(current)</span></a></li>
            <li><a href="/admin/">Sitio Administrador</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Producción<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="divider"></li>
                <li><a href="/addcanal/">Crear Canal</a></li>
                <li class="divider"></li>
                <li><a href="/eliminarcanal/">Eliminar Canal</a></li>
                <li class="divider"></li>
                <li><a href="/addlote/">Crear Lote</a></li>
                <li class="divider"></li>
                <li><a href="/eliminarlote/">Eliminar Lote</a></li>
                <li class="divider"></li>
                <li><a href="/adddeshuese/">Crear Deshuese</a></li>
                <li class="divider"></li>
                <li><a href="/reproceso/">Reproceso</a></li>
                <li class="divider"></li>
                <li><a href="/trazabilidad/">Trazabilidad</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Ventas<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="divider"></li>
                <li><a href="/ventas/">Crear Venta/Cotización</a></li>
                <li class="divider"></li>
                <li><a href="/devoluciones/">Devoluciones/Anular Factura</a></li>
                <li class="divider"></li>
                <li><a href="/devolvercotizacion/">Regresar Proforma a Inventario</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Inventarios<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="divider"></li>
                <li><a href="/inventarios/">Inventario de productos</a></li>
                <li class="divider"></li>
                <li><a href="/inventariosmp/">Inventario de materias primas</a></li>
                <li class="divider"></li>
                <li><a href="/alertas/">Alertas de bajo inventario</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Cuentas por cobrar<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="divider"></li>
                <li><a href="/cuentascobrar/">Abonos y Notas de crédito</a></li>
                <li class="divider"></li>
                <li><a href="/estadocuenta/">Estado de Cuenta</a></li>
                <li class="divider"></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Reportes<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="divider"></li>
                <li><a href="/reportes/">Generar Reportes</a></li>
                <li class="divider"></li>
{#                <li> <a disabled href="/cierrediario/">Cierre diario</a></li>#}
{#                <li class="divider"></li>#}
                <li><a href="/reportecuentascobrar/">Reportes de Cuentas por cobrar</a></li>
                <li class="divider"></li>
                <li><a href="/recuperacion/">Recuperación</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Gastos<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="divider"></li>
                <li><a href="/addgasto/">Registrar Gasto</a></li>
                <li class="divider"></li>
              </ul>
            </li>
          </ul>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
</header>
<div>
   {% block content %}
   {% endblock content %}
</div>

</body>
</html>