{% extends 'base2.html' %}
{% block content %}
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="/static/panel/css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="/static/panel/css/style.css"> <!-- Resource style -->
	<script src="/static/panel/js/modernizr.js"></script> <!-- Modernizr -->
    <script src="/static/js/PriceFormat.js"></script>
    <script src="/static/js/ventas.js"></script>

<div class="PaddingContent blurlines">
    <div class="hideonload succesmessage">
            <div class="col-sm-11 alert alert-success fade in ">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>Completado!</strong> El deshuese fue registrado correctamente.<br/> <br/>
                <a href=""  class=" btn btn-success" role="button" >Crear Nuevo</a>
            </div>
        </div><!-- Mensage success -->
    <div class="hideonload failmessage">
            <div class="col-sm-6 alert alert-danger fade in ">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>Error en formulario!</strong> Corrija los errores mostrados.
            </div>
        </div><!-- Mensaje Error -->
    <div class="container-fluid form-group" >
    <form class="form-horizontal col-sm-12" action="">
        {% csrf_token %}
        <div class="form-group">
            <div class="form-group">
                <div class="col-sm-4 tituloventa">Factura de venta:</div>
            <label class="col-sm-1" for="date">Fecha:</label>
                <div class="col-sm-3">
                  <input type="date" class="form-control " id="date">
               </div>

            </div> <!-- Fecha y titulo -->
             <div class="form-group">
                <label class="col-sm-1" for="cajero">Cajero:</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control " id="cajero">
                   </div>
                <label class="col-sm-1" for="cliente">Nombre:</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="cliente">
                    </div>
                 <div class=" col-sm-2">
                    <button type="button" id="Btnbuscarproducto" class="btn btn-success marginTop15px2 btnbuscarcliente"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </div>
            </div> <!-- cajero cliente y buscar-->
        </div>
    </form><!-- Fecha cajero y cliente -->
    <form class="form-horizontal col-sm-12" action="">
        <div class="form-group">
            <div class="form-group col sm-12" >
            <label class="col-sm-1" for="cantidad">Cantidad:</label>
            <div class="col-sm-3">
                <input type="number" class="form-control input-lg" id="cantidad">
            </div>
            <label class="col-sm-1" for="producto">Producto:</label>
            <div class="col-sm-3">
                <input  type="text" class="form-control input-lg" id="producto">
            </div>
            <div class=" col-sm-2">
                <button type="button" id="Btnbuscarproducto" class="btn btn-success marginTop15px2 btnbuscar"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                {% comment %}<button type="button" id="Btnproducto" class="btn btn-success marginTop15px2"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>{% endcomment %}
                <!--<button type="button" id="Btnquitlote" class="btn btn-danger marginTop15px2"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button> -->
            </div>

            </div><!-- peoductos y boton -->
        </div>
    </form><!-- productos y buscar -->
    <form class="form-horizontal col-sm-9" action="">
        <div class="form-group">
            <div class=" form-group col-sm-12 ">
            <table class="table table-bordered table-hover" data-toggle="table" id="tablaproductos" data-url="" data-cache="false" data-height="299">
                <thead>
                    <tr class="danger">
                        <th data-field="id">Código</th>
                        <th data-field="name">Descripción</th>
                        <th data-field="name">P/U</th>
                        <th data-field="name">Cant</th>
                        <th data-field="name">I.V</th>
                        <th data-field="name">Total</th>
                        <th data-field="name">X</th>
                    </tr>

                </thead>
                <tbody>

                </tbody>
            </table>

        </div><!-- tabla -->
        </div>
    </form><!-- tabla de productods -->
    <form class="form-horizontal col-sm-3" action="">
        <div class="col-sm-1"></div>
        <div class="form-group col-sm-11 ">
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="pesolote">Total de Kilogramos:</label>
                    <div>
                        <br/>
                        <span class="sidePanelData totalkg">0 Kg</span>
                    </div>
                </div>
            </div><!-- total de kilogramos-->
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="totalart">Total de Artículos:</label>
                    <div>
                        <br/>
                        <span class="sidePanelData totalart">0</span>
                    </div>
                </div>
            </div><!-- Total de artículos -->
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="mermakg">Sub Total:</label>
                    <div>
                        <br/>
                        <span class="sidePanelData subtotal">₡ 0</span>
                    </div>
                </div>
            </div><!-- Sub total -->
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="mermaporc">I.V</label>
                    <div>
                        <br/>
                        <span class="sidePanelData totaliv">₡ 0</span>

                    </div>
                </div>
            </div><!-- Iv -->
            <div class="form-group">
                <div class="col-sm-12">
                    <label>Total:</label>
                    <div>
                        <br/>
                        <div class="sidePanelData2 totalventa">₡ 0</div>

                    </div>
                </div>
            </div><!-- Total -->
            <div class="form-group " style="margin-top: 15px">
                <div class="col-sm-12">
                    <button  type="button" class=" btn btn-success  form-control  btnpagar" id="BtnConfirmar" style="width: 160px">Pagar</button>
                    <button  type="button" class=" btn btn-danger  form-control " id="BtnNoConfirmar" style="width: 160px">Editar Datos</button>
                </div>
            </div><!-- btnconfirmar -->
        </div>
    </form><!-- Side bar -->
</div><!-- Pagina principal -->
</div>

<div class="cd-panel cd-panelbuscarcliente from-right">
		<header class="cd-panel-header">
			<h1>Datos del cliente</h1>
        </header>
		<div class="cd-panel-container">
			<div class="cd-panel-content">
				<form class="col-sm-12 form-horizontal" action="">
                     <div class="tituloventa">
                        Cliente Existente:
                        <br/>
                        <br/>
                    </div>
                   <div class="form-group">
                        <div class="col-sm-12">
                            <label for="codigocliente">Codigo de cliente:</label>
                            <br/>
                            <br/>
                        </div>
                        <div class="col-sm-10">
                            <input type="number" class="form-control input-lg" id="codigocliente">
                        </div>

                   </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="nombrecliente">Nombre del Cliente:</label>
                            <br/>
                            <br/>
                        </div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control input-lg" id="nombrecliente">
                        </div>
                        <div class="col-sm-2" >
                             <button  type="button" class=" btn btn-success form-control " id="btnconfirmarcliente" ><span class="glyphicon glyphicon-ok"></span></button>
                        </div>
                   </div>
                    <div class="tituloventa">
                        <br/>
                        Buscar Cliente:
                        <br/>
                        <br/>

                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="nombreclientebuscar">Buscar:</label>
                            <br/>
                            <br/>
                        </div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control input-lg" id="nombreclientebuscar">
                        </div>
                        <div class="col-sm-2" >
                             <button  type="button" class=" btn btn-success form-control " id="Btnbuscarcliente" ><span class="glyphicon glyphicon-search"></span></button>
                        </div>
                   </div>
                     <div class="form-group">
                        <div class="col-sm-12">
                            <table class="table table-bordered table-hover" data-toggle="table" id="tablabusquedacliente" data-url="" data-cache="false" data-height="299">
                                <thead>
                                    <tr class="danger">
                                    <th data-field="id">Código</th>
                                    <th data-field="nombre">Nombre</th>
                                    <th data-field="elegir">Elegir</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>

                </form>
            </div> <!-- cd-panel-content -->
		</div> <!-- cd-panel-container -->
	</div> <!-- Panel de buscar cliente -->

<div class="cd-panel cd-panelpagar from-right">
		<header class="cd-panel-header">
			<h1>Datos del Pago</h1>
        </header>

		<div class="cd-panel-container">
			<div class="cd-panel-content">
				<form class="col-sm-12 form-horizontal" action="">
               <div class="form-group">
                        <div class="col-sm-12">
                            <label for="codigocliente">Codigo de cliente:</label>
                            <br/>
                            <br/>
                        </div>
                        <div class="col-sm-10">
                            <input type="number" class="form-control input-lg" id="codigocliente">
                        </div>
                        <div class="col-sm-2" >
                             <button  type="button" class=" btn btn-success form-control " id="Btnbuscarcliente" ><span class="glyphicon glyphicon-search"></span></button>
                        </div>
               </div>
                <div class="form-group">
                        <div class="col-sm-12">
                            <label for="nombrecliente">Nombre del Cliente:</label>
                            <br/>
                            <br/>
                        </div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control input-lg" id="codigocliente">
                        </div>

               </div>
                <div class="form-group">
                        <div class="col-sm-12">
                            <label for="pagacon">Paga con?:</label>
                            <br/>
                            <br/>
                        </div>
                        <div class="col-sm-10">
                            <select class="form-control input-lg" name="pagacon" id="pagacon">
                               <option value="1">Efectivo</option>
                               <option value="1">Tarjeta</option>
                            </select>
                        </div>

               </div>





              <div class="form-group col-sm-12">
                <div class=" pull-right">
                    <button  type="button" class=" btn btn-success  form-control hideonload marginBtnAdd2 cd-btn" id="BtnConfirmar2" style="width: 160px">Confirmar Datos</button>
                    <button  type="button" class=" btn btn-danger  form-control marginBtnAdd2 btntest" id="BtnNoConfirmar2" style="width: 160px">Editar Datos</button>
                </div>
             </div>

               <div class="form-group col-sm-12">
                    <div class=" pull-right">

                        <button  type="button" class=" btn btn-success form-control marginBtnAdd2" id="BtnCrear" style="width: 160px">Registar deshuese</button>
                    </div>

               </div>
           </form>
            </div> <!-- cd-panel-content -->
		</div> <!-- cd-panel-container -->
	</div> <!-- Panel de pagar -->

<div class="cd-panel cd-panelbuscar from-left">
		<header class="cd-panel-header">
			<h1>Búsqueda de Producto</h1>
        </header>

        <div class="cd-panel-container">
            <div class="cd-panel-content">
                <div class="form-group">
                <form class="col-sm-12 form-horizontal" action="">
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for="tipobusqueda">Tipo de búsqueda:</label>
                        </div>
                        <div class="col-sm-9">
                            <select class="form-control input-lg" name="" id="tipobusqueda">
                                <option value="1">Descripción</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for="busqueda">Búsqueda:</label>
                        </div>
                        <div class="col-sm-9">
                        <div>
                        <input type="text" class="form-control input-lg" id="busqueda">
                        </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class=" pull-right">
                        <button  type="button" class=" btn btn-success  form-control marginBtnAdd2 " id="btnbusqueda" style="width: 160px">Buscar <span class="glyphicon glyphicon-search"> </span></button>
                        </div>
                    </div>
                 </form>
                <form class="col-sm-12 form-horizontal" action="">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <table class="table table-bordered table-hover" data-toggle="table" id="tablabusqueda" data-url="" data-cache="false" data-height="299">
                                <thead>
                                    <tr class="danger">
                                    <th data-field="id">Código</th>
                                    <th data-field="descripcion">Descripción</th>
                                    <th data-field="precio">Precio</th>
                                    <th data-field="agregar">Agregar</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class=" pull-right">
                        <button  type="button" class=" btn btn-danger  form-control marginBtnAdd2 btntest" id="btncerrarbuscar" style="width: 160px"><span class="glyphicon glyphicon-menu-left"></span> Regresar</button>
                        </div>
                    </div>

                </form>
                </div>
            </div> <!-- cd-panel-content -->
        </div> <!-- cd-panel-container -->
	</div> <!-- Panel de Buscar -->

{% endblock %}